<div ng-include src="'views/user/templates/navbar.view.client.html'"></div>
<div class="page-background">
    <section id="contact class" class="container-fluid text-center">
        <div class="container-fluid">
            <div class="row">
                <div id="responsiveForm">
                    <form class=" form-inline well-searchbox" role="form">
                        <div class=" form-group">
                            <label class="control-label">City</label>
                            <div class="">
                                <input type="text" ng-model="rest.city" class="form-control" placeholder="Keyword">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class=" control-label">Name</label>
                            <div class="">
                                <div class="">
                                    <input type="text" ng-model="rest.name" class="form-control" placeholder="Keyword">
                                </div>
                            </div>
                        </div>

                        <div>
                            <button ng-click="model.getRestaurantsByNameAndCity(rest)" type="submit"
                                    class="btn btn-success">Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div ng-repeat="restaurant in model.restaurants" class="col-md-3 col-sm-4 col-xs-12 img-responsive">

            <div class="">
                <div>
                    <a href="#/user/restaurant/{{restaurant.id}}"> <img width="100%" class="img-rounded"
                                     src=""/></a>
                </div>
                <div>{{restaurant.name}}</div>
            </div>
            <div>
                <span>{{restaurant.city}} - {{restaurant.country}}</span>
                <span>{{restaurant.name}}</span>
                <span>{{restaurant.city}}</span>
                <span>{{restaurant.address}}</span>
            </div>
        </div>
    </div>
</div>
</div>
