<div ng-include src="'views/user/templates/navbar.view.client.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="review-block-description">
                <ng-map center="[{{model.restaurant.lat}}, {{model.restaurant.lng}}]">
                    <marker position="{{model.restaurant.lat}}, {{model.restaurant.lng}}" title="Hello World!"></marker>
                </ng-map>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 custom-margin">
            <div class="thumbnail">
                <img class="my-image" src="{{model.restaurant.image_url}}" alt="">
                <div class="caption">
                    <h3>Details</h3>
                    <p><b class="wb-red ">Name: </b> {{model.restaurant.name}}</p>
                    <p><b class="wb-red ">Address: </b> {{model.restaurant.address}}</p>
                    <p><b class="wb-red ">Phone Number: </b> {{model.restaurant.phone}}</p>
                    <p><a href="#/user/restaurant/{{model.restaurantId}}/articles" class="btn btn-danger" role="button">Articles</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8">

                <div >
                    <div ng-repeat="review in model.reviews" class="row">
                        <hr/>
                        <div class="col-xs-6 col-md-4 col-sm-4">

                            <div >

                                <img ng-click="model.navigateToUserPage(review.userName)" ng-show="!review.imgUrl" src="https://dummyimage.com/60x60/666/ffffff&text=No+Image"
                                     class="profile-small-image-size img-rounded">
                                <img ng-click="model.navigateToUserPage(review.userName)" ng-show="review.imgUrl" ng-src="{{review.imgUrl}}"
                                     class="profile-small-image-size img-rounded">
                                <div class="review-block-name">
                                    <a ng-show="currentUser" href=""
                                       ng-click="model.navigateToUserPage(review.userName)">{{review.userName}}</a>
                                </div>
                                <div class="review-block-name">
                                    <a ng-show="!currentUser" href="">{{review.userName}}</a>
                                </div>
                                <div class="review-block-date">{{review.dateCreated | date : 'mediumDate'}}<br/></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-8 col-sm-8">
                            <div ng-if="model.selectedIndex === $index">
                                <form>
                                    <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Description.."
                              ng-model="model.editReview.description"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div ng-hide="model.selectedIndex === $index">
                                    {{review.description}}
                            </div>
                            <div class="btn-group-md">
                                <a href="" class="btn btn-success btn-sm" role="button"
                                   ng-if="model.selectedIndex == $index"
                                   ng-click="model.updateReview(model.editReview)">
                                    Update
                                </a>
                                <a href="" class="btn btn-danger btn-sm" role="button"
                                   ng-if="model.selectedIndex == $index"
                                   ng-click="model.cancelReview()">
                                    Cancel
                                </a>
                            </div>
                            <div>
                                <a href="" class="btn btn-warning btn-sm" role="button"
                                   ng-if="model.selectedIndex !== $index && currentUser._id == review.userId"
                                   ng-click="model.selectReview($index)">
                                    Edit
                                </a>
                                <a href="" class="btn btn-danger btn-sm" role="button"
                                   ng-if="model.selectedIndex !== $index && currentUser._id == review.userId"
                                   ng-click="model.deleteReview($index)">
                                    Delete
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <div class=" custom-margin">
                        <div>
                            <div class="text-left">
                                <h3>Leave a Review</h3>
                            </div>
                            </div>
                            <textarea ng-model="review.description" class="form-control" cols="50"
                                      id="new-review" name="comment"
                                      placeholder="Enter your review here..." rows="5"></textarea>
                            <div class="text-right">
                                <div class="text-right custom-margin">
                                    <a ng-show="model.user" class="btn btn-success btn-lg" href=""
                                       ng-click="model.createReview(review)">Submit</a>
                                </div>
                                <div class="text-right custom-margin">
                                    <a ng-show="!model.user" class="btn btn-warning btn-lg" href="">Login
                                        Required</a>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>

    </div>
</div>


<div class="container-fluid">
    <div class="row">

    </div>
</div>
