<nav class="page navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="page navbar-header">
            <a class="navbar-brand" ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon-black glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="">
                Widget Edit
            </a>
        </div>
        <div class="navbar-text" >
            <a ng-click="model.createWidget(model.widget)" href="" class="navbar-link">
                <span class="glyphicon-black glyphicon glyphicon-plus"></span>
            </a>
        </div>

    </div>
</nav>

<div class = "container-fluid">
    <div  ng-include="model.getEditorTemplateUrl(model.widgetType)">
    </div>
    <div class = "button-padding">
        <a class=" btn btn-danger btn-block"
           ng-click="model.createWidget(model.widget)">Create</a>
    </div>
</div>

<nav class="page navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text" >
            <a ng-href="#/profile/{{model.userId}}" class="navbar-link ">
                <span class="glyphicon-blue glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>