<div ng-include src="'views/user/templates/navbar.view.client.html'"></div>
<div class="container-fluid">
    <h1>Register</h1>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>


    <form name="registrationForm" ng-submit="model.create(model.user)" novalidate>

        <div class="form-group" >
            <input class="form-control" ng-model="model.user.username"
                   id="username"
                   name="uname"
                   placeholder="username" type="text" required/>
            <p ng-show="registrationForm.uname.$invalid && !registrationForm.uname.$pristine"
               class="help-block">Please provide a User Name.</p>
        </div>

        <div class="form-group">
        <input ng-model="model.user.password"
               id="password"
               name="pass1"
               class="form-control"
               type="password"
               placeholder="password" required/>
            <p ng-show="registrationForm.pass1.$invalid && !registrationForm.pass1.$pristine"
               class="help-block">Please provide a password.</p>
        </div>

        <div class="form-group">
        <input id="password2"
               ng-model="model.password2"
               name="pass2"
               class="form-control"
               type="password"
               placeholder="verify password" required/>
            <p ng-show="registrationForm.pass2.$invalid && !registrationForm.pass2.$pristine"
               class="help-block">Password dont match.</p>
        </div>

        <div class="form-group">
            <input id="firstName"
                   ng-model="model.user.firstName"
                   class="form-control"
                   name="firstName"
                   type="text"
                   placeholder="First Name" required/>
            <p ng-show="registrationForm.firstName.$invalid && !registrationForm.firstName.$pristine"
               class="help-block">Please enter the first name.</p>
        </div>

        <div class="form-group">
            <input id="lastName"
                   ng-model="model.user.lastName"
                   class="form-control"
                   name="lastName"
                   type="text"
                   placeholder="Last Name" required/>
            <p ng-show="registrationForm.lastName.$invalid && !registrationForm.lastName.$pristine"
               class="help-block">Please enter the last name.</p>
        </div>

        <div class="form-group">
            <input id="role"
                   ng-model="model.user.roles"
                   class="form-control"
                   name="role"
                   type="text"
                   placeholder="Role" required/>
            <p ng-show="registrationForm.role.$invalid && !registrationForm.role.$pristine"
               class="help-block">Please enter the role.</p>
        </div>

        <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block" ng-disabled="registrationForm.$invalid">
                    Register
                </button>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-danger btn-block"
                   href="#/login">Cancel</a>
            </div>
        </div>
    </form>
</div>
