<div ng-include src="'views/user/templates/navbar.view.client.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-sm-4">
            <img class="thumbnail profile-image-size"
                 src="../../images/default.png" alt="" ng-show="!model.user.imgUrl">
            <img  class="thumbnail profile-image-size img-rounded"
                  ng-show="model.user.imgUrl" ng-src="{{model.user.imgUrl}}">
            <div class = "custom-margin" ng-show="currentUser._id != model.userid">
                <a href=""
                   ng-click="model.followUser()"
                   ng-hide="model.isFollowingAlready"
                   class="btn-sm btn-success">Follow
                </a>
                <a href=""
                   ng-click="model.unFollowUser()"
                   ng-show="model.isFollowingAlready"
                   class="btn-sm btn-danger">Unfollow
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-sm-4">
            <div class="review-block-description">
                <p><b class="wb-red ">FirstName:  </b> {{model.user.firstName}}</p>
                <p><b class="wb-red ">LastName:  </b> {{model.user.lastName}}</p>
                <p><b class="wb-red ">Role:  </b> {{model.user.roles}}</p>
                <p><b class="wb-red ">Followers:  </b> {{model.user.followers.length}}</p>
                <p><b class="wb-red ">Following:  </b> {{model.user.following.length}}</p>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-7">

            <div>

                <div ng-repeat="review in model.reviews" class="row">
                    <hr/>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image"
                             alt="" ng-show="!model.user.imgUrl">
                        <img  class=" profile-small-image-size img-rounded"
                              ng-show="review.user.imgUrl" ng-src="{{review.user.imgUrl}}">
                        <div class="review-block-name"><a href="" ng-click="model.navigateToUserPage(review.userName)">{{review.userName}}</a>
                        </div>
                        <div class="review-block-date">{{review.dateCreated | date : 'mediumDate'}}<br/></div>
                    </div>

                    <div>{{review.description}}</div>
                    <!--<div class="review-block-description">this was nice in buy. this was nice in buy. this was nice-->
                    <!--in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy-->
                    <!--this was nice in buy-->
                    <!--</div>-->

                </div>

            </div>
        </div>
    </div>
</div>

