
<nav class="page navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon-black glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="page navbar-header">
                <a class="navbar-brand" href="">Pages</a>
            </div>
            <div class="navbar-text" >
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                    <span class="glyphicon-black glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon-black glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="page navbar-header">
                <a class="navbar-brand" href="">Edit Page</a>
            </div>
            <div class="navbar-text" >
                <a ng-click="model.update(model.page._id, model.page)" href="" class="navbar-link ">
                    <span class="glyphicon-black glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="wbdv-left-pane col-sm-4 hidden-xs ">
        <div ng-repeat="page in model.pages" class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-body">

                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>

                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                    <span class="glyphicon-blue glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-8 wbdv-right-pane">

    <label for="name">Name</label>
    <input ng-model="model.page.name" class="form-control" type="text" id="name" placeholder="Name">

    <label for="title">Title</label>
    <input ng-model="model.page.title" class="form-control" id="title" type="text" placeholder="Page Title">

    <label for="description">Page Description</label>
    <textarea ng-model="model.page.description" class="form-control" id="description" rows="3" placeholder="Description" ></textarea>

    <a  ng-click="model.update(model.page._id, model.page)" class="btn btn-primary btn-block">
        Update
    </a>

    <a ng-click="model.deletePage()" class="btn btn-danger btn-block">
        Delete
    </a>
</div>
</div>


<nav class="page navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text" >
            <a ng-href="#/profile/{{model.userId}}" class="navbar-link ">
                <span class="glyphicon-blue glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
